{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Add idea{% endblock %}

{% block top %}
    結論
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-8">

                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-group">
                        <label class="pt-2">
                            結論：
                        </label>
                        <div>
                            {{ form.conclusion|add_class:"form-control" }}
                        </div>
                        <label class="pt-2">
                            説明：
                        </label>
                        <div>
                            {{ form.description|add_class:"form-control" }}
                        </div>
                        <label class="pt-2">
                            画像：
                        </label>
                        <div>
                            {{ form.image }}
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg">{{ object|yesno:'Update,Define' }}</button>
                    </div>

                </form>

                <p class="pt-2"><a class="text-decoration-none" href="javascript:history.back()">&lt; Back</a></p>

            </div>

        </div>

    </div>


{% endblock %}