{% extends 'base.html' %}

{% block title %}create project{% endblock %}

{% block top %}
    プロジェクト作成
{% endblock %}

{% block project %}

<li class="">
{% for project in projects %}


        <a class="nav-link" href="{% url 'project_list' pk=project.pk %}">
          <span class="text-gray-100 mx-3">{{ project.name }}</span>
        </a>

{% endfor %}
</li>

{% endblock %}

{% block content %}

<form method="post" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Create"></input></p>
</form>

<p><a href="javascript:history.back()">&lt; Back</a></p>

{% endblock %}
