{% extends 'base.html' %}

{% block title %}detail{% endblock %}

{% block top %}
    アイディアの詳細
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-8">

                {# ownership #}
                {% if request.user.id == object.author_id %}
                    <div class="float-right">
                        <a class="btn btn-primary btn-circle" href="{% url 'idea_update' object.pk %}"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger btn-circle" href="{% url 'idea_delete_confirm' object.pk %}"><i class="fas fa-trash"></i></a>
                    </div>
                {% endif %}
                <div class="">
                    <span class="h3">{{ object.idea }}</span>
                </div>

                <div class="my-5 h5">
                    {{ object.description|linebreaksbr }}
                </div>

                {% if object.image %}
                    <p><img class="image-limit" src="{{ object.image.url }}"></p>
                {% endif %}

                <p class="">投稿者: {{ object.author }}</p>
                <p class="small">投稿日:&nbsp;{{ object.created_at }}<span>/</span>更新日:&nbsp;{{ object.updated_at }}</p>

                <p class="pt-2"><a class="text-decoration-none" href="{% url 'project_list' pk=object.project.pk %}">&lt; Back</a></p>

            </div>

        </div>

    </div>


{% endblock %}