{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block top %}
    アイディア削除
{% endblock %}

{% block content %}

    <div class="">

        <p> "{{ idea.idea }}" を本当に削除しても良いですか?</p>
        <p>{{ idea.description|linebreaksbr }}</p>
        {% if idea.image %}
            <p><img src="{{ idea.image.url }}"></p>
        {% endif %}

        <p>
        <a href="{% url 'idea_delete' pk=idea.pk %}">
            <button type="submit" class="btn btn-danger">Delete</button>
        </a>
        </p>

        <section>
            <p><a href="javascript:history.back()">&lt; Back</a></p>
        </section>

    </div>

{% endblock %}